.reviews__card-arrow-left {
  width: 10px;
  height: 18px;
  background-image: url("../../../images/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  bottom: 4px;
  right: 85px;
  transition: .2s linear;
}

.reviews__card-arrow-left:hover {
  transform: scale(1.3);
}