.header__contacts {
  max-width: 1200px;
  min-height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1200px) {
  .header__contacts {
    max-width: calc(100% - 36px);
  }
}