.banner__card-arrow-left {
  width: 11px;
  height: 18px;
  background-image: url("../../../images/banner-arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  bottom: 118px;
  left: 50%;
  transform: translateX(-562px);
  transition: .2s linear;
}

.banner__card-arrow-left:hover {
  transform: translateX(-562px) scale(1.3);
}