.reviews__card-title {
  font-family: 'Commissioner', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  text-align: left;
  letter-spacing: 0.01em;
  color: #DEC377;
  margin-top: 0;
  margin-bottom: 20px;
}