.reviews__card {
  width: 570px;
  height: 585px;
  background-image: url("../../../images/reviews-image-1.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  background-color: #fff;
  box-sizing: border-box;
  padding-top: 140px;
  padding-bottom: 65px;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  display: inline-block;
}