.pros__card-title {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.75);
  margin-top: 28px;
  margin-bottom: 0;
}