.corner-in-corner {
  position: relative;
}

.corner-in-corner::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to left bottom, transparent 50%, rgba(222, 195, 119, 1) 0) 100% 0 no-repeat;
  width: 70px;
  height: 70px;
  transform: rotate(180deg);
}