.header__search-button {
  font-family: 'Commissioner', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  border-radius: 2px;
  position: relative;
  z-index: 1;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  background-color: #DEC377;
  padding: 0 16px;
  border: none;
  transition: .2s linear;
}

.header__search-button:hover {
  background-color: #c29b2f;
}