@import url(./__card-long/advantages__card-long.css);
@import url(./__card-long-text/advantages__card-long-text.css);

.advantages {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 100px;
}