.banner__card-arrow-right {
  width: 11px;
  height: 18px;
  background-image: url("../../../images/banner-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  bottom: 121px;
  left: 50%;
  transform: translateX(-519px);
  transition: .2s linear;
}

.banner__card-arrow-right:hover {
  transform: translateX(-519px) scale(1.3);
}