.reviews__card-text {
  min-height: 250px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 0;
  margin-bottom: 25px;
  -webkit-line-clamp: 10;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  word-wrap: break-word;
}