@import url(./__card/doing__card.css);
@import url(./__card/_first/doing__card_first.css);
@import url(./__card/_second/doing__card_second.css);
@import url(./__card/_third/doing__card_third.css);
@import url(./__card-text/doing__card-text.css);
@import url(./__card-text/_fix-width/doing__card-text_fix-width.css);

.doing {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  grid-template-areas:
    "doing__card_first doing__card_second"
    "doing__card_third doing__card_third";
}