@import url(./__form/cooperation__form.css);
@import url(./__form-text/cooperation__form-text.css);
@import url(./__form-text-link/cooperation__form-text-link.css);
@import url(./__form-title/cooperation__form-title.css);
@import url(./__input/cooperation__input.css);
@import url(./__list/cooperation__list.css);
@import url(./__list-item/cooperation__list-item.css);
@import url(./__list-item/_first/cooperation__list-item_first.css);
@import url(./__list-item/_second/cooperation__list-item_second.css);
@import url(./__text/cooperation__text.css);
@import url(./__text-block/cooperation__text-block.css);

.cooperation {
  max-width: 1170px;
  margin: 0 auto;
  padding-bottom: 75px;
}