.header__menu-link {
  font-family: 'Commissioner', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.75);
  transition: .2s linear;
}

.header__menu-link:hover {
  color: #DEC377;
}